<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Sapienta - career guidance assistant</title>
    <!--/google-fonts -->
    <link href="//fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <!--//google-fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='assets-home/css/style-starter.css') }}">
</head>

<body>
    <!--/Header-->
    <header id="site-header" class="fixed-top">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light stroke py-lg-0">
                <h1><a class="navbar-brand pe-xl-5 pe-lg-4" href="{{ url_for('index') }}">
                       Sapi<span class="sublog">enta.</span>
                    </a></h1>
                <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon fa icon-expand fa-bars"></span>
                    <span class="navbar-toggler-icon fa icon-close fa-times"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-lg-auto my-2 my-lg-0 navbar-nav-scroll">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('about') }}">About</a>
                        </li>
                       
                      
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('contact') }}">Contact</a>
                        </li>

                    </ul>
                    <ul class="navbar-nav mx-lg-4">
                        <li class="nav-item">
                            <a href="{{ url_for('user_login') }}" class="nav-link">Login</a>
                        </li>
                        <li class="nav-item">
                            <a href="{{ url_for('user_reg') }}" class="nav-link">Register</a>
                    
                        </li>
                    </ul>

                    <!-- //toggle switch for light and dark theme -->
                    <!-- search popup -->
                    <div id="search" class="w3lpop-overlay">
                        <div class="w3lpopup">
                            <form action="#formsearch" method="GET" class="d-flex">
                                <input type="search" placeholder="Search.." name="search" required="required" autofocus>
                                <button type="submit"><span class="fas fa-search"></span></button>
                                <a class="close" href="#formsearch">&times;</a>
                            </form>
                        </div>
                    </div>
                    <!-- /search popup -->
                </div>
                <!-- toggle switch for light and dark theme -->
                <div class="mobile-position">
                    <nav class="navigation">
                        <div class="theme-switch-wrapper">
                            <label class="theme-switch" for="checkbox">
                                <input type="checkbox" id="checkbox">
                                <div class="mode-container">
                                    <i class="gg-sun"></i>
                                    <i class="gg-moon"></i>
                                </div>
                            </label>
                        </div>
                    </nav>
                </div>
                <!-- //toggle switch for light and dark theme -->
            </nav>
        </div>
    </header>
    <!--//Header-->
    <!-- breadcrumb -->
    <section class="w3l-about-breadcrumb">
        <div class="breadcrumb-bg breadcrumb-bg-about py-5">
            <div class="container py-lg-5 py-md-4">
                <div class="w3breadcrumb-gids text-center pt-5">
                    <div class="w3breadcrumb-right">
                        <ul class="breadcrumbs-custom-path">
                            <li><a href="{{ url_for('index') }}">Home</a></li>
                            <li class="active"><span class="fas fa-angle-double-right mx-2"></span> Contact Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--//breadcrumb-->
    <!-- contact1 -->
    <section class="w3l-contact-1 py-5" id="contact">
        <div class="contacts-9 py-lg-5 py-md-4">
            <div class="container">
                <div class="contactct-fm map-content-9">
                    <div class="header-title text-center">
                        <h6 class="title-subhny"><span>contact Us</span></h6>
                        <h3 class="title-w3l mb-2">Let’s Talk About
                            <span class="span-bold"> Your Project</span>
                        </h3>
                        <p class="mb-sm-5 mb-4">Start working with Us that can provide everything you need to generate awareness,
                            drive traffic,
                            connect. <br> We guarantee that you’ll be able to have any issue resolved within 24 hours.</p>
                    </div>
                    <form action="{{ url_for('send_message') }}" class="pt-lg-4" method="post">
                        <div class="twice-two">
                            <input type="text" class="form-control" name="name" placeholder="Name" required="">
                            <input type="email" class="form-control" name="email" placeholder="Email" required="">
                        </div>
                        <div class="twice-two">
                            <input type="text" class="form-control" name="phone" placeholder="Phone" required="">
                            <input type="text" class="form-control" name="subject" placeholder="Subject" required="">
                        </div>
                        <textarea name="message" class="form-control" placeholder="Message" required=""></textarea>
                        <div class="text-lg-center">
                            <button type="submit" class="btn btn-primary btn-style mt-lg-5 mt-4">Send Message</button>
                        </div>
                    </form>
                </div>
           </div>
    </section>
    <!-- /contact1 -->

    <!-- Js scripts -->
    <!-- Template JavaScript -->
    <script src="{{ url_for('static', filename='assets-home/js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='assets-home/js/theme-change.js') }}"></script>
    <!-- MENU-JS -->
    <script>
        $(window).on("scroll", function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 80) {
                $("#site-header").addClass("nav-fixed");
            } else {
                $("#site-header").removeClass("nav-fixed");
            }
        });

        //Main navigation Active Class Add Remove
        $(".navbar-toggler").on("click", function() {
            $("header").toggleClass("active");
        });
        $(document).on("ready", function() {
            if ($(window).width() > 991) {
                $("header").removeClass("active");
            }
            $(window).on("resize", function() {
                if ($(window).width() > 991) {
                    $("header").removeClass("active");
                }
            });
        });

    </script>
    <!-- //MENU-JS -->

    <!-- disable body scroll which navbar is in active -->
    <script>
        $(function() {
            $('.navbar-toggler').click(function() {
                $('body').toggleClass('noscroll');
            })
        });

    </script>
    <!-- //disable body scroll which navbar is in active -->

    <!-- //bootstrap -->
    <script src="{{ url_for('static', filename='assets-home/js/bootstrap.min.js') }}"></script>

</body>

</html>
