{% include "user/header.html" %}

<!-- main content start-->
<div id="page-wrapper" style="min-height: 292px;">
    <div class="main-page">
        <h2 class="title1">Predict</h2>
        <div class="form-grids row widget-shadow" data-example-id="basic-forms">
            <div class="form-title">
                <h4>Enter details</h4>
            </div>
            <div class="form-body">
                <form method="post" action="{{ url_for('predict_IT') }}">
                    <div class="row">
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Acedamic percentage in
                                Operating Systems</label>
                            <input type="number" class="form-control" name="os_percentage"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">percentage in
                                Algorithms</label>
                            <input type="number" class="form-control" name="algorithms_percentage"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Percentage in Programming
                                Concepts</label>
                            <input type="number" class="form-control" name="program_concept"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Percentage in Software
                                Engineering</label>
                            <input type="number" class="form-control" name="software_engineering"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Percentage in Computer
                                Networks</label>
                            <input type="number" class="form-control" name="cn_percentage"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Percentage in Electronics
                                Subjects</label>
                            <input type="number" class="form-control" name="electronics_percentage"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Percentage in Computer
                                Architecture</label>
                            <input type="number" class="form-control" name="computerarch_percentage"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Percentage in
                                Mathematics</label>
                            <input type="number" class="form-control" name="maths_percentage"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Percentage in Communication
                                skills</label>
                            <input type="number" class="form-control" name="computer_skills"
                                placeholder="Enter the percentage" min="0" max="100">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Logical quotient
                                rating</label>
                            <input type="number" class="form-control" name="logical_rating"
                                placeholder="Enter the rating(1-9)" min="1" max="9">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">Number of Hackethons</label>
                            <input type="number" class="form-control" name="hackathons"
                                placeholder="Enter the number of Hackethons attempted" min="0">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">coding skills rating</label>
                            <input type="number" class="form-control" name="coding_rating"
                                placeholder="Enter the rating(1-9)" min="1" max="9">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputEmail1">public speaking points</label>
                            <input type="number" class="form-control" name="public_speaking"
                                placeholder="Enter the points(1-9)" min="1" max="9">
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">can work long time before
                                system?</label>
                            <select class="form-control" name="timebeforesystem" placeholder="(Y/S))">
                                <option value="1">YES</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">self-learning
                                capability?</label>
                            <select class="form-control" name="selflearning" placeholder="(Y/S)">
                                <option value="1">YES</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">certifications</label>
                            <select class="form-control" name="certificate" placeholder="select the ceritification">
                                <option value="0">app development</option>
                                <option value="1">distro making</option>
                                <option value="2">full stack</option>
                                <option value="3">hadoop</option>
                                <option value="4">information security</option>
                                <option value="5">machine learning</option>
                                <option value="6">python</option>
                                <option value="7">r programming</option>
                                <option value="8">shell programming
                                </option>
                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">workshops</label>
                            <select class="form-control" name="workshop" placeholder="select the workshop">
                                <option value="0">cloud computing</option>
                                <option value="1">data science</option>
                                <option value="2">database security</option>
                                <option value="3">game development</option>
                                <option value="4">hacking</option>
                                <option value="5">system designing</option>
                                <option value="6">testing</option>
                                <option value="7">web technologies</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">talenttests taken?</label>
                            <select class="form-control" name="talenttests" placeholder="(Y/S)">
                                <option value="1">YES</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">memory capability
                                score</label>
                            <select class="form-control" name="memory_capability" placeholder="select the below">
                                <option value="0">excellent</option>
                                <option value="1">medium</option>
                                <option value="2">poor</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">Interested subjects</label>
                            <select class="form-control" name="interested_subject" placeholder="select the below">
                                <option value="0">Computer Architecture</option>
                                <option value="1">IOT</option>
                                <option value="2">Management</option>
                                <option value="3">Software Engineering</option>
                                <option value="4">cloud computing</option>
                                <option value="5">data engineering</option>
                                <option value="6">hacking</option>
                                <option value="7">networks</option>
                                <option value="8">parallel computing</option>
                                <option value="9">programming </option>

                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">Type of company want to
                                settle in?</label>
                            <select class="form-control" name="type_of_company" placeholder="select the below">
                                <option value="0">BPA</option>
                                <option value="1">Cloud Services</option>
                                <option value="2">Finance</option>
                                <option value="3">Product based</option>
                                <option value="4">SAaS services</option>
                                <option value="5">Sales and Marketing</option>
                                <option value="6">Service Based</option>
                                <option value="7">Testing and Maintainance Services</option>
                                <option value="8">Web Services</option>
                                <option value="9">product development </option>

                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">Management or
                                Technical</label>
                            <select class="form-control" name="m_or_t" placeholder="Management or technical">
                                <option value="0">Management</option>
                                <option value="1">Technical</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">hard/smart worker</label>
                            <select class="form-control" name="h_or_s" placeholder="hard or smart worker">
                                <option value="0">Hard worker</option>
                                <option value="1">smart worker</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6"> <label for="exampleInputPassword1">worked in teams
                                ever?</label>
                            <select class="form-control" name="in_teams" placeholder="(Y/S)">
                                <option value="1">YES</option>
                                <option value="0">No</option>
                            </select>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>